body {
  background-color: aliceblue;
  text-align: center;
}
ul {
  padding-left: 0px;
}
#today {
  width: 200px;
  height: 200px;
}
img,
.fiveday {
  width: 150px;
  height: 150px;
}
.nav {
  margin: 0px;
  color: blueviolet;
}
footer,
header {
  text-align: center;
}
